{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
{{ if .Params.authors }}
  <hr />
  <p>
    {{- $authorSlice := slice }}
    {{- range .Params.authors }}
      {{- $authorSlice = $authorSlice | append (replaceRE "^[0-9]* ([^<]*) <([^>]*)>" "<span itemprop='author'>$1</span>" (index . "SPDX-FileCopyrightText")) }}
    {{- end }}
    {{- $authors := delimit $authorSlice (i18n "string.list.separator") (i18n "string.list.last.separator") }}
    {{- $licenseId := index .Params "SPDX-License-Identifier" }}
    {{- $license := printf "<a href='https://spdx.org/licenses/%s.html'>%s</a>" $licenseId $licenseId }}
    {{ partial "fn/i18n_args" (slice "contributed.authors" $authors $license) | markdownify }}
  </p>
{{ end }}
