{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ if .IsTranslated }}
<ul class="navbar-nav">
  <li class="nav-item dropdown" aria-describedby="language-picker-description">
    <p class="visually-hidden" id="language-picker-description">{{ i18n "Select-your-language" }}</p>
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="/aether/languages.png" alt="" />
      <span class="d-lg-none ms-2">{{ i18n "translations" }}</span>
    </a>
    <div class="dropdown-menu dropdown-trans" role="listbox">
      <a class="nav-link active dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      {{ $firstLang := .Sites.First.Language.Lang }}
      {{ if ne .Language.Lang $firstLang }}
      {{ with index .AllTranslations 0 }}
      <a class="nav-link dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
      {{ end }}
      {{ range sort (where .Translations "Language.Lang" "!=" $firstLang) "Language.LanguageName" }}
      <a class="nav-link dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  </li>
</ul>
{{ end }}
