{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{/*
Params:
- shots: a list of dicts, each of which having at least 'url' field, 'caption' and 'name' fields are optional, without both the alt text(s) will be set using the page's "name" param
- page: context of the page this is called in
- containerClass: optional, additional class(es) for the element of swiper-container class
- wrapperClass: optional, additional class(es) for the element of swiper-wrapper class
*/}}
<section class="swiper{{ with .containerClass }} {{ . }}{{ end }}" aria-label="{{ i18n "screenshots" }}" {{ with .centered }}data-centered="{{ . }}" {{ end }}role="list">
  <div class="swiper-wrapper{{ with .wrapperClass }} {{ . }}{{ end }}" role="listitem">
    {{- $page := .page }}
    {{- range $index, $value := .shots }}
    {{- $url := cond (in $value.url "/") (cond (hasPrefix $value.url ".") $value.url ($value.url | absURL)) (printf "%s%s" $page.Permalink $value.url | absURL) }}
    {{- $alt := $value.caption | default ($value.name | default (partial "fn/i18n_args" (slice "screenshot-desc" $page.Params.name))) }}
    <div class="swiper-slide{{ if eq $index 0 }} swiper-slide-active{{ end }}">
      <img src="{{ $url }}" alt="{{ $alt }}" lazy class="rounded">
      {{- if $value.link }}
        <a class="d-block text-center mt-2" href="{{ $value.link }}">{{ $alt }}</a>
      {{- end }}
    </div>
    {{- end }}
  </div>
  <div class="swiper-pagination" style="bottom: 0"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>
