/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#cookiebanner {
  display: flex;
  text-align: left;
  background-color: #E3F4F8;
  border-bottom: solid #657187 3px;
  padding: 10px;
  justify-content: space-between;
}

#dismisscookiebanner {
  padding: 5px;
  min-width: 120px;
  align-self: center;
  margin-left: 5px;
}
